* {
  margin: 0;
  padding: 0;
}

.page-content {
  background-color: #10002b;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.8;
  color: #e0aaff;
}

p {
  font-size: 20px;
}

button {
  padding: 10px;
  border-color: #5a189a;
  border-radius: 15px;
  color: #5a189a;
  background-color: #10002b;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #3c096c;
}

.link-button {
  text-decoration: none;
  color: #9d4edd;
  font-size: 20px;
}
